<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Restaurants in India - Zomato</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div id="blur-content">
        <%- include('./partials/login') %>
        <%- include('./partials/loginEmail') %>
        <%- include('./partials/Signup') %>

    </div>
    <header>
        <div class="banner">
            <%- include('./partials/navbar') %>
            <div class="head-container">
                <div class="logo">
                    <img src="https://b.zmtcdn.com/web_assets/8313a97515fcb0447d2d77c276532a511583262271.png" alt="logo">
                </div>
                <h2>Find the best restaurants, cafés and bars in India</h2>
            </div>
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="section-top">
                <p>Popular locations in</p>
                <img src="https://b.zmtcdn.com/images/flags_z10/in.png?output-format=webp" alt="india-flag">
                <strong>India</strong>
            </div>
            <div class="section-bottom">
                <p class="para">From swanky upscale restaurants to the cosiest hidden gems serving the most incredible food, Zomato covers it all. Explore menus, and millions of restaurant photos and reviews from users just like you, to find your next great meal.</p>
            </div>
            <div id="country">
            </div>   
            <br><br>
        </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="/home.js"></script>
</body>
</html>